@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text:100,300,400,500,600,700,800,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    z-index: 100;
    left: 0;
    width: 100%;
    padding: 0;
    background-color: white;
}

.nav-flex-row li {
    text-decoration: none;
    list-style-type: none;
    padding: 20px 15px;
}

.nav-flex-row li a {
    font-family: 'Big Shoulders Text', cursive;
    color: rgb(0, 11, 24);
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 300;
}

.nav-flex-row li a:hover {
    border-bottom: 1px solid #fff;
}

.logo{
    height: 4rem;
    width: 4rem;
    padding: .3rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
}

#logo:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.search-box {
    display: block;
    padding: .7rem;
    background-color: white;
    border-radius: .5rem;
}

.search-box input {
    width: 50vw;
    height: 2.5rem;
    outline: none;
    border: none;
}

.search-box button, .search{
    color:#011941;
    background-color: rgb(179, 213, 244);
    padding: 1rem;
    border-radius: .5rem;
    border: none;
}

.section-intro {
    height: 820px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.1)), url(images/background.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-intro h1 {
    text-align: center;
    color: #ffffff;
    font-size: 4em;
    font-weight: 700;
}

.section-intro header {
    display: flex;
    flex: 4;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-to-book-wrapper {
    text-align: center;
    padding: 1rem 4rem;
    border-radius: 7rem;
    background-color: white;
    margin-bottom: 2rem;
}

.flex-equal {
    display: flex;
    align-items: center;
}

.flex-equal a {
    margin-left: 1rem;
}

.footer-panel{
    width: 60vw;
}

.footer-social-links a{
    border-radius: 50%;
    padding: .5rem;
    border: 1px solid rgb(95, 95, 95);
}

.about-section {
    display: flex;
    align-items: center;
    background-color: #f3f3f3c0;
    padding: 50px 30px;
}

.link-to-book {
    color: #ffffff;
    display: block;
    border: 2px solid #ffffff;
    padding: 5px 10px;
}

a {
    text-decoration: none;
}

a.link-to-book:hover {
    background-color: #ffffff;
    color: #95999e;
    text-decoration: none;
}

.about-section p,
.about-section h3 {
    text-align: center;
    width: 60%;
    margin: auto;
    font-family: 'Big Shoulders Text', cursive;
    font-size: 1.8em;
    text-transform: uppercase;
}

.carousel-inner {
    height: 700px;
}

.row-flex {
    display: flex;
    flex-direction: row;
}

.flex-column-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 30px 20px;
}

.btn.btn-primary {
    font-family: 'Big Shoulders Text', cursive;
    color: #ffffff;
    background-color: #95999e;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px 10px;
    letter-spacing: 2px;
    border: 0;
}

.btn.btn-primary:hover {
    background-color: #747474;
}
.opening-time,
.contact-adress {
    flex: 1;
    margin: 30px 20px;
    font-size: 1.2em;
}

.form-group p {
    font-size: 1.2em;
}

.opening-time p span,
.contact-adress p span {
    display: block;
}

.site-footer{
    padding: 2rem;
    margin: 0;
    background-color: #313131;
}

.site-footer a {
    color: #8A94A7;
    text-decoration: none
}

.site-footer a:hover,
.site-footer a:active {
    text-decoration: underline
}

.site-footer-inner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-top: 48px;
    padding-bottom: 48px
}

.footer-social-links,
.footer-copyright {
    flex: none;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    justify-self: flex-end;
}

.footer-social-links li {
    display: inline-flex
}

.footer-social-links li+li {
    margin-left: 16px
}

.footer-social-links li a {
    padding: 8px
}

.footer-links li+li {
    margin-left: 24px
}

@media (min-width: 641px) {
    .site-footer-inner {
        padding-top: 64px;
        padding-bottom: 64px
    }

    .footer-social-links,
    .footer-copyright {
        flex: 50%
    }

    .footer-brand,
    .footer-copyright {
        justify-content: flex-start
    }

    .footer-social-links {
        justify-content: flex-end
    }

    .footer-links {
        order: 1;
        margin-bottom: 0
    }
}

@media (min-width:577px) and (max-width: 800px) {

    .section-intro {
        height: 500px;
    }

    .about-section p,
    .about-section h3 {
        font-size: 20px;
    }

    .carousel-inner {
        height: auto;
    }

    .row-flex {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {
    .section-intro {
        height: 300px;
    }

    .about-section {
        padding: 30px;
    }

    .section-intro h1 {
        font-size: 2em;
    }

    .about-section p,
    .about-section h3 {
        font-size: 15px;
    }

    .carousel-inner {
        height: auto;
    }

    .row-flex {
        display: flex;
        flex-direction: column;
    }

    .row-flex h3 {
        font-size: 25px;
        text-align: center;
    }

    .form-group p {
        font-size: 15px;
    }

    .opening-time p span,
    .contact-adress p span {
        font-size: 15px;
        text-align: center;
    }

}